* {
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
h1, h2{
    color:#003395;
    margin:0;
}
.wrapper{
    width:1146px;
    margin:auto;
}
.banner{
    width: 100vw;
    height: 372px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.animation-text{
    animation: block-change 1s linear infinite;
}
@keyframes block-change {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1{
    margin:0;
    padding-top:120px;
    font-size: 54px;
    font-weight: 500;
}
.text_input{
    width:100%;
    font-size: 18px;
    background: transparent;
    border: none;
    outline:none;
}
.text_input::placeholder{
    color:#000000;
    font-weight: 700;
}
.navigation{
    background-color: #003395;
    margin-bottom: 57px;
}
.subnav{
    height:75px;
    padding-left:0;
    margin:0;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
li{
    margin-right:62px;
    transition-duration:200ms;
}
.link_nav{
    color:#ffffff;
    text-decoration:none;
    overflow: hidden;
    transition-duration:200ms;
}
li:hover{
    transform: scale(1.5);
}
.link_nav:hover{
    color:rgb(0, 255, 119);
}
.main_flex{
    display:flex;
    justify-content: space-between;
}
.sub_main{
    width: 754px;
    margin-bottom:62px;
}
.main{
    padding:0;
}
.main_header{
    padding:15px 0;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    border-top:2px solid #003395;
    border-bottom: 2px solid #003395;
}
.main_section_1 span{
    text-decoration: underline;
}
.section_text{
    margin:16px 0 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color:#30233D;
}
.main_section_2 h2, .main_section_3 h2{
    margin:0;
}

.aside_section_1{
    width:362px;
    height:244px;
    margin-bottom:56px;
    border: 2px solid #33008D;
}
.aside_section_2{
    width:362px;
    height:302.6px;
    border: 2px solid #33008D;
}
.aside_header{
    margin-top:21px;
    margin-right:19px;
    margin-left:19px;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    color: #FFFFFF;
    background-color:#24B0FF;
}
.aside_section_1 .aside_header{
    padding: 14px 17px;
}
.aside_section_2 .aside_header{
    padding: 16.66px 17px 10.86px;
}
.aside_section_1_text{
    margin: 14px 53px 26px 19px;
    font-size: 16.2px;
    font-weight:400px;
    line-height: 163.35%;
    color:#30233D;
}
.aside_block_text {
    margin-left:19px;
    margin-top: 22px;
}
.aside_section_2_text{
    margin: 0;
    color:#30233D;
    font-size: 16.2px;
    font-weight:400px;
    line-height: 163.35%;
    text-decoration: underline;   
}
footer{
    height:148px;
    background: linear-gradient(180deg, #003395 0%, #00205F 100%);
}
.footer_text{
    padding-top:45px;
    font-size: 11.7px;
    font-weight:400px;
    line-height: 163.35%;
    text-align: right;
    color: #FCFCFC;
}
